* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: beige;
}

.branco {
  color: #fff;
  font-weight: bold black;
  
}

header {
  background-color: #102739;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  margin: 1px 40px;
}

.logo p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 10px;
  font-weight: bold;
}

.logo img {
  height: 70px;
  width: 70px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 1px 40px;
}

.menu a {
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 4px 12px;
  margin-top: 100px;
}

.menu a:hover {
  background-color: white;
  color: #102739;
}

@media (max-width: 1020px) { /* escolhi esse tamanho para que o menu não fique 
  com as palavras escritas uma a baixo da outra. Amauri Jr*/
  .menu {
    margin: auto;
    display: none;
    flex-direction: column;
    background-color: #102739;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .menu.active {
      display: flex;
      background-color:#102739;
      opacity: 0.6;
      display: flex;
      width: 100%;
      height: auto; /* resolvi o problema de os itens do menu ativo ficarem em cima da barra do cabeçalho. Amauri Jr*/
      position: absolute;
      z-index: 10; /* para deixar o menu por cima/ na frente do carrossel
       deixei o index maior que o index do carrossel. Amauri Jr */
      margin: 0;
      margin-top: 14px; /* para que o menu fique junto com a barra do cabeçalho sem espaços. Amauri Jr*/
      padding:2;
      box-sizing: border-box;
      justify-content: center;
      align-items: center ;
    /* centralizei o menu hambuguer quando ativado deixei ele com transparencia para ficar harmoniozo com orestante da página. Amauri Jr*/
  }

  .hamburger {
    display: block;
    color: white;
  }
}

.container {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
}

.slider-wrapper {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider {
  position: relative;
  display: flex;
  box-shadow: 0 1.5rem 0.75rem hsla(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  height: 400px;
  width: 800px;
  flex: 0 0 500px;
  object-fit: cover;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%); /* Move metade do tamanho da imagem para a esquerda */
  }
}

/* Adiciona a animação de slide */
.slider {
  animation: slide 10s linear infinite;
}

.post-comunidade{
  display: flex;
}

h2 {
  padding: 15px;
  text-align: center;
  color:   #102739;
  margin-top: 100px;
  }

.post-comunidade h2{
    padding: 20px;
    text-align: left;
    color:   #102739;
    }
.post-comunidade p{
    padding: 40px;
    text-align: left;
    align-items: center;
    margin-bottom: 80px;
    }

.btn-link{
  display: flex;
  align-items: center;;
  justify-content: center;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: white;
  clear: both;
  background-color:  #102739;
  width: 160px;
  margin: 20px auto;
  }
.btn-link:hover{
  box-shadow: 2px 2px 2px 2px #535252;
  }
 
.post-comunidade img{
  height: 400px;
  width:  500px;
  border: px solid   #102739;
  padding: 20px;
  }


#artigos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0, 0.05);
  }

.artigos-container {
  display:flex;
  justify-content:center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  }

  .artigos span {
    color:  #102739;
    }

.artigos-box {
  width: 350px;
  background-color: #102739;
  border: 1px solid  black;
  margin: 20px;
  border-radius: 3px;
  }

.artigos-img {
  width: 100%;
  height: auto;
 
  }

.artigos-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  }

.artigos-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  }

.artigos-text span {
  color: whitesmoke;
  font-size: 0.9rem;
  }

.artigos-text .artigos-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.artigos-text .artigos-title :hover {
  color: red;
  transition: all ease 0.3s;
  }

.artigos-text p {
  color: white;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
  }

.artigos-text a {
  color:azure
  }

.artigos-text a :hover {
  color: red;
  transition: all ease 0.3s;
  }

@media (max-width: 1250px) {
.artigos-box {
  width: 300px;
  }
}
@media (max-width: 1100px) {
  .artigos-box {
    width: 70%;
    }
  }
@media (max-width: 550px) {
  .artigos-box {
    margin: 20px 10px;
    width: 100%;
    }
  #artigos {
    padding: 20px;
    }
  }

p {
  text-align: left;
  }


.footer {
 
    clear: both;
    width: 100%;
    background-color:  #102739;
    padding: 8px;
    text-align: center;
    border: 1px solid  black;
    }
  
  .footer p {
    color: white;
    text-align: center;
    padding: 15px;
    }
