* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
  
  body{
    font-family: "poppins", sans-serif;
    background-color: beige;
    }
  .branco {
    color: #fff;
    }
  
  header {
    background-color: #102739;
    }
  
  nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    }
  
  .logo {
    display: flex;
    margin: 1px 40px;
    }
  
  .logo p{
    font-size: 20px;
    color: black;
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    font-family: "poppins", sans-serif;
    }
  
  .logo img{
    height: 70px;
    width: 70px;
    }
  
  .menu {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    margin: 1px 40px;
    }
  
  .menu a,
  .menu a:visited {
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 4px 12px;
    }
  
  .menu a:hover {
    background-color: white;
    color: #102739;
    }
  
  
      .container img {
        width: 100%;
        height: 20%; /* definir um tamanho melhor, acredito que da pra melhorar. ps: Amauri Jr.*/
        margin-bottom: 20px auto;
       align-self: center;
       display: flexbox;
       justify-content: center;
       align-items: center;
    }
    .container p {
        text-align: center; /*ESSE TEXTO FICARÁ DENTRO DO BANNER, NÃO SERÁ TAG. PS: Amauri Jr*/
    }


body {
    box-sizing: border-box;
    font-size: 14px;
    background: #e9e9e9;
    font-family: system-ui;
}


* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}



.btn {
    padding: .5re, 1rem;
    background: #102739;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover {
    color: white !important;
    background: #102739
}

.content {
    width: 50%;
    margin: 30px auto;
    border: 1px solid #102739;
}

.content .main-content {
    padding: 20px;
    border: 1px solid #102739;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #102739;
    background: transparent;
    border-radius: 0px;
    color:#102739 !important;
}

.content .main-content .post .read-more:hover {
    background: #102739;
    color: #102739 !important;
    transition: .25s;
}

.content .main-content .post .post-image {
    width: 100%;
    height: 40%;
    float: left;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .sidebar {
    width: 30%;
    float: left;
    border: 1px dashed green;
    height: 300px;
}

/* --------------------------------*/
.comment-box,
.post-comment .list {
    background:##102739;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
}

.comment-session {
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.post-comment .list {
    width: 100%;
    margin-bottom: 12px;
}

.post-comment .list .user {
    display: flex;
    padding: 8px;
    overflow: hidden;
}

.post-comment .list .user img {
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-session .name {
    text-transform: uppercase; /* na página o primeiro e segundo nome estão um a baixo do outro, corrigir isso. ps: amauri */
    font-weight: 500;
}

.post-comment .list .day {
    font-size: 12px
}

.post-comment .comment-post {
    padding: 0 0 15px 58px;
}

.comment-box {
    padding: 10px;
    overflow: hidden;
}

.comment-box .user {
    display: flex;
    width: min-content;
}

.comment-box .image img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-box textarea {
    background: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0003;
}

.comment-box textarea:focus-visible {
    box-shadow: inset 0 0 0 1px #102739;
    outline: none;
}

.comment-box .comment-submit {
    float: right;
    padding: 6px 10px;
    border: none;
    background: #102739;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}

.comment-box .comment-submit:hover {
    background: #102739;
}

.footer {
 
    clear: both;
    width: 100%;
    background-color:  #102739;
    padding: 8px;
    text-align: center;
    border: 1px solid  black;
    }
  
  .footer p {
    color: white;
    text-align: center;
    padding: 15px;
    }
