* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color:whitesmoke;
  }
  
  .branco {
    color: #fff;
    font-weight: bold black;
    
  }
  
  header {
    background-color: #102739;
  }
  
  nav {
    display: flex;
    justify-content: space-between; /* mod */
    align-items: center;
    border: 1px solid black;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin: 1px 40px;
  }
  
  .logo p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .logo img {
    height: 70px;
    width: 70px;
  }
  
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    margin: 1px 40px;
  }
  
  .menu a {
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 4px 12px;
    margin-top: 100px;
  }
  
  .menu a:hover {
    background-color: white;
    color: #102739;
  }
  
  @media (max-width: 1030px) { /* escolhi esse tamanho para que o menu não fique 
    com as palavras escritas uma a baixo da outra. Amauri Jr*/
    .menu {
      margin: auto;
      display: none;
      flex-direction: column;
      background-color: #102739;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
    }
  
    .menu.active {
      display: flex;
      background-color:#102739;
      opacity: 0.6;
      display: flex;
      width: 100%;
      height: auto; /* resolvi o problema de os itens do menu ativo ficarem em cima da barra do cabeçalho. Amauri Jr*/
      position: absolute;
      z-index: 10; /* para deixar o menu por cima/ na frente do carrossel
       deixei o index maior que o index do carrossel. Amauri Jr */
      margin: 0;
      margin-top: 14px; /* para que o menu fique junto com a barra do cabeçalho sem espaços. Amauri Jr*/
      padding:2;
      box-sizing: border-box;
      justify-content: center;
      align-items: center ;
    /* centralizei o menu hambuguer quando ativado deixei ele com transparencia para ficar harmoniozo com orestante da página. Amauri Jr*/
  }
  
    .hamburger {
      display: block;
      color: white;
    }
  }
  
 
  

  .post-preview a {
color: #102739;

  }
  .recent-post-title{
    padding: 10px;
    text-align: center;
    color: #102739;
  }

  .btn {
    padding: 0.5rem 1rem; /* Corrigido o valor para 0.5rem de padding vertical e 1rem de padding horizontal */
    background: #102739;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn:hover {
    color: white !important;
    background: #102739;
}

.content {
    width: 90%;
    max-width: 1200px; /* Largura máxima para o conteúdo */
    margin: 30px auto; /* Centraliza o conteúdo na tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap; /* Permite que os elementos se ajustem responsivamente */
}

.content .main-content {
    width: 70%;
    margin-right: 20px; /* Espaçamento entre .main-content e .sidebar */
    box-sizing: border-box;
}

.content .main-content .post {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 2px 2px #535252;
    border: 1px solid #102739;
    margin-bottom: 20px; /* Espaçamento inferior entre posts */
}

.content .main-content .post .post-image {
    width: 100%; 
    height: 200px; 
    background-size: cover; 
    background-position: center;
    margin-bottom: 10px; 
    border-radius: 5px; 
}

.content .main-content .post .read-more {
  display: block;
  text-align: center;
  font-size: 16px;
  width: 160px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  color: white;
  background-color: #102739;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}

.content .main-content .post .read-more:hover {
  box-shadow: 2px 2px 2px 2px #535252; 
}


.content .main-content .post .read-more:hover {
    background: #102739;
    color: white !important;
}

.content .sidebar {
    width: 100%; /* Barra lateral ocupa toda a largura disponível */
    max-width: 300px; /* Largura máxima da barra lateral */
    border: 1px dashed #102739;
    margin-top: 20px; /* Espaçamento superior */
    padding: 10px; /* Espaçamento interno */
}

p {
    text-align: left;
}

  
    .footer {
   
      clear: both;
      width: 100%;
      background-color:  #102739;
      padding: 8px;
      text-align: center;
      border: 1px solid  black;
      }
    
    .footer p {
      color: white;
      text-align: center;
      padding: 15px;
      }
  