@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.branco {
  color: #fff;
}

.header {
  background-color: #33283f;
  padding: 20px;
  text-align: right;
}

.foto-startup {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 20px;
  
}

.logo {
  margin: 0px;
  position: absolute;
  bottom: 71%;
}

h1 {
  margin: 0px;
  margin-left: 20px;
  border: 0px;
  background-color: #33283f;
  padding: 2px;
  text-align: left;
}

div.text{
  /*margin: 0px 10px;*/
  text-indent: 2.5em;
}

div.text h2{
  text-decoration: rgb(19, 19, 32);
  margin: 10px 0px;
  font-size: 20px;
}
/*p.ident {
  text-indent: 5ch;
  border: 0px;
}*/
span {
  color: rgb(75, 75, 173);
}

section > h1 {
  color: white;
  text-align: center;
}

section > div#img-equipe {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  /*border-style: hidden;*/
  border: 10vw;
  
 
}
#logo {
  width: 1349px;
}
section#logo {
  display: inline-block;
  /*padding: 5px;*/
  background-image: url('./imagem_equipe/logomarca.jpeg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #33283f;
  /*background-size: cover;*/
  background-attachment: fixed;
}

.foto-amauri {
  border: 10px;
  padding-right: 150px;
}
.foto-jeferson {
  border: 10px;
  padding-right: 150px;
}
.foto-joao {
  border: 10px;
}

.descricao {
  display: flex;
  justify-content: space-between;
  /*padding-right: 250px;*/
  color: white;
  /*border: 100px;*/
  
}

#amuri > p {
  width: 302px;
  height: 100px;
  margin-left: 74px;
  padding: 4px 7px;
  border: 2px solid;
  text-align: justify;
  
 
}
#jeferson > p {
  width: 302px;
  height: 100px;
  margin-left: -57px;
  padding: 4px 7px;
  border: 2px solid;
  text-align: justify;
  
  
}
#joao > p {
  width: 302px;
  height: 100px;
  margin-right: 72px;
  padding: 4px 7px;
  border: 2px solid;
  text-align: justify;
  
}

a {
  text-decoration: none;
  text-align: right;
  font-weight: bold;
  color: white;
}

/*.post p {
  margin: 10px 0px;
}*/

.menu,
.logo {
  padding: 26px;
  margin: 0px;
  margin-left: -1%;
}

.menu a,
.menu a:visited {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.menu a:hover {
  background-color: white;
  color: #013331;
}

.footer {
  clear: both;
  width: 100%;
  background-color: #013331;
  padding: 15px;
  text-align: center;
}

.footer p {
  color: white;
  text-align: center;
  padding: 15px;
}