
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "poppins", sans-serif;
}
.branco {
  color: #fff;
}
.header {
  background-color:#102739 ;
  padding: 0px;
  text-align: right;
}

img{
border-radius: 70%;
width: 100px;
height: 100px;
display: flex;
margin: 1px 60px;
padding-bottom: 1px;
}

h1{
  background-color: #102739;
  padding: 15px;
  text-align: left;
    }


    a {
      text-decoration: none;
      text-align: right;
      font-weight: bold;
      color: white;
    }
  
    .menu,
    .logo {
      padding: 1px;
    }
    .menu a,
    .menu a:visited {
      color: white;
      text-decoration: none;
      padding: 4px 12px;
    }
    .menu a:hover {
      background-color: white;
      color: #102739;
    }

      





    .footer {
 
      clear: both;
      width: 100%;
      background-color:  #102739;
      padding: 8px;
      text-align: center;
    }
    
    .footer p {
      color: white;
      text-align: center;
      padding: 15px;
  
     
    }
  